/* make sure that all things are positioned relative to the parent lightsaber */
* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #111;
}

.lightsaber {
  position: relative;
  margin-right: 30px;
}

.lightsaber label {
  cursor: pointer;
  display: block;
  position: absolute;
  width: 10px;
  height: 50px;
  background: #DDD;
  border-top: 4px solid gray;
  border-bottom: 4px solid gray;
  border-radius: 5px;
}

.lightsaber input[type='checkbox'] {
  opacity: 0;
}

.lightsaber .plasma {
  transition: height 0.3s;
  position: absolute;
  border-radius: 12px 12px 0 0;
  width: 10px;
  height: 0;
  bottom: 15px;
  background: #FFF;
  filter: blur(1px); /* CSS trick to get that glow */
}

.lightsaber input[type='checkbox']:checked ~ .plasma {
    height: 250px;
}


.lightsaber--yoda .plasma {
    background: rgb(135, 220, 90);
    background: linear-gradient(
    to right,
    rgb(135, 220, 90) 0%,
    rgb(254, 254, 254) 30%,
    rgb(254, 254, 254) 50%,
    rgb(254, 254, 254) 70%,
    rgb(135, 220, 90) 100%
  );
}

.lightsaber--vader .plasma {
    background: rgb(229, 17, 21);
    background: linear-gradient(
    to right,
    rgba(229, 17, 21, 1) 0%,
    rgba(254, 254, 254, 1) 30%,
    rgba(254, 254, 254, 1) 47%,
    rgba(254, 254, 254, 1) 71%,
    rgba(229, 17, 21, 1) 100%
  );
}

.lightsaber--windu .plasma {
    background: rgb(202, 116, 221);
    background: linear-gradient(
    to right,
    rgba(202,116,221,1) 0%,
    rgba(254,254,254,1) 30%,
    rgba(254,254,254,1) 47%,
    rgba(254,254,254,1) 71%,
    rgba(202,116,221,1) 100%
  );
}
